<!-- Modal Login -->
	<div class="modal fade" id="modalLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title text-center">Iniciar Sesion</h2>
					<div class="imgcontainer img-responsive">
						<img src="client/components/adds/img/cliente.jpg" alt="Avatar" class="avatar center-block">
					</div>
				</div>
				<div class="modal-body">
					<form name="frmLogin" class="" novalidate="">
						<div class="form-group">
							<p>
								<label for="username">Nombre de Usuario</label>
								<input type="text" class="form-control" name="username" placeholder="Usuario" ng-model="log.loginName">
							</p>
							<p>
								<label for="userpassword">Contraseña</label>
								<input type="password" class="form-control" id="userpassword" placeholder="Contraseña" ng-model="log.password">
							</p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" data-dismiss="modal" aria-label="modal" aria-label="Close">Cerrar</button>
					<a href="#">
						<button type="button" class="btn btn-primary" ng-click="loginCheck(log)">Iniciar Sesion</button>
					</a>
				</div>
			</div>
		</div>
	</div>
<!-- End Modal Login --> -->
	
	<div id="slides">
		<ul class="slides-container">
			<li>
				<img src="/client/components/adds/img/fondos/gafas2.jpg" alt="" class="imgS">


				<div class="description-s">
					<h2 class="description-s-title">Mision de la Empresa</h2>
					<p class="description-s-text">La mision de tecno lens es...</p>
				</div>

				<div class="login-s">
					<div class="login-s-img">
						<img src="/client/components/adds/img/TECN O LENS.png" alt="" class="w400 center-block">
					</div>					
					<button class="btn btn-success btn-block" ng-click="loginModal()">Iniciar Sesion</button>	
				</div>
			</li>
			
			<li>
				<img src="/client/components/adds/img/fondos/gafas3.jpg" alt="" class="imgS">
				<div class="description-s">
					<h2 class="description-s-title">Mision de la Empresa</h2>
					<p class="description-s-text">...................</p>
				</div>

				<div class="login-s">
					<div class="login-s-img">
						<img src="/client/components/adds/img/TECN O LENS.png" alt="" class="w400 center-block">
					</div>					
					<button class="btn btn-success btn-block" ng-click="loginModal()">Iniciar Sesion</button>	
				</div>
			</li>
			
			<li>
				<img src="/client/components/adds/img/fondos/gafas4.jpg" alt="" class="imgS">
				<div class="description-s">
					<h2 class="description-s-title">Mision de la Empresa</h2>
					<p class="description-s-text">...................</p>
				</div>

				<div class="login-s">
					<div class="login-s-img">
						<img src="/client/components/adds/img/TECN O LENS.png" alt="" class="w400 center-block">
					</div>					
					<button class="btn btn-success btn-block" ng-click="loginModal()">Iniciar Sesion</button>	
				</div>
			</li>
			
			<li>
				<img src="/client/components/adds/img/fondos/gafas6.jpg" alt="" class="imgS">
				<div class="description-s">
					<h2 class="description-s-title">Mision de la Empresa</h2>
					<p class="description-s-text">...................</p>
				</div>

				<div class="login-s">
					<div class="login-s-img">
						<img src="/client/components/adds/img/TECN O LENS.png" alt="" class="w400 center-block">
					</div>					
					<button class="btn btn-success btn-block" ng-click="loginModal()">Iniciar Sesion</button>	
				</div>
			</li>
			
			<li>
				<img src="/client/components/adds/img/fondos/gafas7.jpg" alt="" class="imgS">
				<div class="description-s">
					<h2 class="description-s-title">Mision de la Empresa</h2>
					<p class="description-s-text">...................</p>
				</div>

				<div class="login-s">
					<div class="login-s-img">
						<img src="/client/components/adds/img/TECN O LENS.png" alt="" class="w400 center-block">
					</div>					
					<button class="btn btn-success btn-block" ng-click="loginModal()">Iniciar Sesion</button>	
				</div>
			</li>
		</ul
		>
		<nav class="slides-navigation">
			<a href="" class="next">&#62;</a>
			<a href="" class="prev">&#60;</a>
		</nav>
	</div>

<div>
	<div class="description-s">
		<h2 class="description-s-title">Mision de la Empresa</h2>
		<p class="description-s-text">...................</p>
	</div>

	<div class="login-s">
		<div class="login-s-img">
			<img src="/client/components/adds/img/TECN O LENS.png" alt="" class="w400 center-block">
		</div>					
		<button class="btn btn-success btn-block" ng-click="loginModal()">Iniciar Sesion</button>	
	</div>
</div>