<div class="col-md-12">
	<div class="table-des">
		<h1 class="text-center">Editar Pedidos</h1>	
			<table class="table table-responsive color-white">
				<tr>
					<th class="text-center">ID del Pedido</th>
					<th class="text-center">Fecha de Orden</th>
					<th class="text-center">Información</th>
					<th class="text-center">Edición</th>
				</tr>
				<tr>
					<td>1</td>
					<td>12/05/17</td>
					<td><a href="">Ver Pedido</a></td>
					<td><a href="#">Editar</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>16/05/17</td>
					<td><a href="">Ver Pedido</a></td>
					<td><a href="#">Editar</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td>17/05/17</td>
					<td><a href="">Ver Pedido</a></td>
					<td><a href="#">Editar</a></td>
				</tr>
			</table>
	</div>		
</div>
