<div id="c-slider">
	<div id="slider">
		<section>
			<img src="/client/components/adds/img/arcos.jpg" alt="">
		</section>

		<section>
			<img src="/client/components/adds/img/gdl.jpg" alt="">
		</section>

		<section>
			<img src="/client/components/adds/img/puente-inv.jpg" alt="">
		</section>

		<section>
			<img src="/client/components/adds/img/catedral.jpg" alt="">
		</section>

	</div>
	<div id="btn-prev">
		<span class="glyphicon glyphicon-arrow-left"></span>
	</div>
	<div id="btn-next">
		<span class="glyphicon glyphicon-arrow-right"></span>
	</div>
</div>